{% extends "base.html" %}

{% block title %}About{% endblock title %}

{% block body %}
<div class="about-container">
    <h1 class="about-title">About Us</h1>

    <div class="about-section">
        <img src="https://source.unsplash.com/fklYdTMCmkI" height="600" width="100" class="d-block w-100" alt="...">
      <p>Welcome to Siddhi's Icecreams, where we turn sweet moments into memories with our delightful ice creams!</p>
    </div>

    <div class="about-section">
      <h2>Our Story</h2>
      <p>Founded in 2018, Siddhi's Icecreams started as a small family-owned business with a big dream—to create the most delicious and unique ice cream flavors.</p>
      <p>Over the years, our passion for crafting premium-quality ice cream has grown, and we are thrilled to share our creations with the community.</p>
    </div>

    <div class="about-section">
      <h2>Our Values</h2>
      <p>At Siddhi's Icecreams, we believe in:</p>
      <ul>
        <li>Using only the freshest and finest ingredients.</li>
        <li>Creating a warm and welcoming environment for our customers.</li>
        <li>Continuously innovating to bring new and exciting flavors to our menu.</li>
        <li>Prioritizing customer satisfaction and smiles with every scoop.</li>
      </ul>
    </div>

    <div class="about-section">
      <h2>Visit Us Today!</h2>
      <p>Experience the joy of our handcrafted ice creams. Visit our store today and treat yourself to a world of sweetness!</p>
    </div>
  </div>
{% endblock body %}
